# DAY 2 STRING MANIPULATION AND METHODS, EXPRESSION, OPERATORS AND PRECENDENCE

In [ ]:
## Day 2 - Data Science Masters - 12/02/2025

In [ ]:
a=10

In [ ]:
a

10

In [ ]:
type(a)

int

In [ ]:
## Type Casting
int('123')

123

In [ ]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [ ]:
## Print Statement
print("Hello World")

Hello World

In [ ]:
print(123)

123

In [ ]:
## Can write in double quote "" and can write in single '' quote also

In [ ]:
age=21
print("My age is:", age)

My age is: 21

In [ ]:
## F string - used for Formatting purpose
print(f"My age is: {age}")

My age is: 21

In [ ]:
## Formatting
name="Ryan"
age=21
print("My name is {} and my age is {}".format(name,age))

My name is Ryan and my age is 21

In [ ]:
name="Ryan"
Age=21
Degree="BMS"
print("My age is {} and I have completed: my degree of {} with the name of {}".format(Age,Degree,name))

My age is 21 and I have completed: my degree of BMS with the name of Ryan

In [ ]:
## Placeholder
print("My name is {firstname} and my age is {firstage}".format(firstname=name,firstage=age))

My name is Ryan and my age is 21

In [ ]:
name="Ryan"
age=21
Degree="BMS"

" My age is 21 and I have completed: my degree of BMS with the name of Ryan"

' My age is 21 and I have completed: my degree of BMS with the name of Ryan'

In [ ]:
print("My age is {} and I have completed: my degree of {} with the name of {}".format(age,Degree,name))

My age is 21 and I have completed: my degree of BMS with the name of Ryan

## Control Flow
## Decision Making Statements

In [ ]:
## If statments
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [ ]:
## If statments (Nothing is getting printed) ( Statement is False)
age=18
if age<18:
    print("You are eligible to vote")

In [ ]:
19<18

False

In [ ]:
18<=18

True

In [ ]:
input()

Ryan

'Ryan'

In [ ]:
name=input("Enter the name")

Enter the nameRyan Chettiar

In [ ]:
name

'Ryan Chettiar'

In [ ]:
age=int(input("Enter the age"))

Enter the age21

In [ ]:
age

21

In [ ]:
type(age)

int

In [ ]:
## TAsk 1-

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age <=45:
    print("you are young blood")

Enter the age21
you are young blood

In [ ]:
if age>=18 and age <=45:
    print("you are young blood")

you are young blood

In [ ]:
age = 45

In [ ]:
if age>=18 and age <=45:
    print("you are young blood")

you are young blood

In [ ]:
age = 46

In [ ]:
if age>=18 and age <=45:
    print("you are young blood")

In [ ]:
22>=18

True

In [ ]:
22<=45

True

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age <=45:
    print("you are young blood")

Enter the age55

In [ ]:
## If Else statememt
age=int(input("Enter the age"))
if age>=18 and age <=45:
    print("you are young blood")
else:
    print("Thank you we will let you know")

Enter the age56
Thank you we will let you know

In [ ]:
## mall - input the product price
### product > 1000 rs then 20% off
## print the product price
## product <=1000 rs 30% off

In [ ]:
## If else statement
Product_price=int(input("Enter the price"))
if Product_price>1000:
    print("The price of the product is {}".format(Product_price*0.8))
else:
    print("The price of the product is {}".format(Product_price*0.7))

Enter the price5000
The price of the product is 4000.0

In [ ]:
int(20/100*5000)

1000

In [ ]:
## mall - input the product price
### product > 3000 rs then 20% off
## print the product price
## product >=2000 rs and <=3000 then 30% off
## print the product price
## product <=1000 rs 30% off
## price ==2999 you get additional gift

In [ ]:
## If condition
Product_price=int(input("Enter the price"))
if Product_price>3000:
    print("The price of the product is {}".format(Product_price*0.8))
elif Product_price>=2000 and Product_price<=3000:
  if Product_price==2999:
    print("Congratulations you get a gift")
elif Product_price>=2000 and Product_price<=3000:
  print("The price of the product is {}".format(Product_price*0.7))
else:
    print("The price of the product is {}".format(Product_price*0.6))

Enter the price2999
Congratulations you get a gift

In [ ]:
## Comparison Statement
True==True

True

In [ ]:
## Single Statement suites
val=int(input("Enter the number"))
if(val<=999):print("Value is less than equal to 999")
else:
  print("Go Home")

Enter the number1000
Go Home

In [ ]:
a=10

In [ ]:
name=input("Enter you Name")

In [ ]:
Age=input("Enter your Age")

In [2]:
a=10

In [3]:
a

10

In [4]:
a

10

## Loop Statements

1. While Lookup
2. for loop
3. nested loop
4. Loop Control (break,continue,pass)

## While Loop

In [11]:
## While Loop

joining_age=25
while joining_age<=60:
      print(joining_age)
      joining_age = joining_age+1

else:
  print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

## For Loop

In [23]:
first = ["Ryan",1,2,3,4,"apple","Banana"]

In [24]:
type(first)

list

In [25]:
first[0]

'Ryan'

In [27]:
first[5]

'apple'

In [28]:
first

['Ryan', 1, 2, 3, 4, 'apple', 'Banana']

In [29]:
for x in first:
  print(x)

Ryan
1
2
3
4
apple
Banana

In [30]:
fruits_list = ["Mango" , "Banana" , "apple"]

In [38]:
for a in fruits_list:
    print(a)
    if a=="Banana":
        print("The fruit is Banana")

Mango
Banana
The fruit is Banana
apple

In [42]:
fruits = "Mango"
for x in fruits:
    print(x)

M
a
n
g
o

In [46]:
fruits [0]

'M'

## Nested Loop

In [47]:
n = 7

In [52]:
## Range

for i in range (1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [53]:
for i in range (1,10, 2):
  print(i)

1
3
5
7
9

In [57]:
n = 7

for i in range(0,n):
  for j in range(0,i+1):
    print("*", end= "")
  print("/r")

*/r
**/r
***/r
****/r
*****/r
******/r
*******/r

In [66]:
## Loop Controls (Break, Continue, pass)

### Break and continue

fruits_list = ["Mango" , "Banana" , "apple","Guava","Cherry"]

In [65]:
## Break
for i in fruits_list:
  if i=="apple":
    print("The fruit is apple")
    break
  print(i)

Mango
Banana
The fruit is apple

In [67]:
## Pass
for i in fruits_list:
  if i=="apple":
    print("The fruit is apple")
    pass
  print(i)

Mango
Banana
The fruit is apple
apple
Guava
Cherry

In [69]:
## continue
for i in fruits_list:
  if i=="apple":
    print("The fruit is apple")
    continue
  print(i)

Mango
Banana
The fruit is apple
Guava
Cherry

In [70]:
## Break wil stop the Loop , Continue will skip the loop